<article>
    <div>
        <h3>{{@article.title}}</h3>
        <p>{{@article.subtitle}}</p>
        <strong>{{@article.date}}</strong>
        <p>{{@article.content}}</p>
        <a class="btn" target="blank" href="#">Leave a Comment!</a>
    </div>
    <img class="article-img" alt="nothing here" src="../assets/images/this-is-fine-dog-meme-4294205960.jpeg" />
</article>