<section class="bio">
    <img class="profile-img" alt="A headshot of the author, black ball cap and aviator sunglasses. Very G Q." src="../assets/images/jeffPic.jpg"/>
        <div>
            <h1>:: Jeffrey Press :: <br>Bread Baker Turned Web App Maker</h1>
            <p>I have been coding and making web-app projects since 2022. I have experience and interest in using Javascript, Node, Express and PostgreSQL to create RESTful APIs for web-apps. In my free time, I enjoy bread-baking, metalworking, and misty morning hikes with my family.</p>
            <a class="btn" href="#recent-work">See my work</a>
        </div>
</section>