<h2>Jeff's Blog</h2>
    <article>
        <div>
          <h3>First blog post</h3>
          <p>A commentary on the world at large</p>
          <strong>Oct-4 2022</strong>
          <p>Shit's fucked, y'all.</p>
          <a class="btn" target="blank" href="#">Leave a Comment!</a>
        </div>
        <img class="article-img" alt="nothing here" src="../assets/images/this-is-fine-dog-meme-4294205960.jpeg" />
    </article>