<footer>
  <ul>
    <li>
      <a target="blank" href="https://www.linkedin.com/in/jmichaelpress/">
        LinkedIn
        <span class="link-icon">
          <i class="fa-brands fa-linkedin"></i>
        </span>
      </a>
    </li>
    <li>
      <a target="blank" href="#">
        CV
        <span class="link-icon">
          <i class="fa-solid fa-user"></i>
        </span>
      </a>
    </li>
    <li>
      <a target="blank" href="https://github.com/jmpress">
        GitHub
        <span class="link-icon">
          <i class="fa-brands fa-github"></i>
        </span>
      </a>
    </li>
  </ul>
  <p class="copyright">© 2022 Jeffrey Press</p>
</footer>