<header>
    <nav>
        <h1>Jeffrey Press</h1>
        <ul>
            <li><LinkTo @route="bio">Home</LinkTo></li>
            <li><LinkTo @route="blog">Blog</LinkTo></li>
            <li><LinkTo @route="resume">Resume</LinkTo></li>
            <li><LinkTo @route="contact">Contact</LinkTo></li>
        </ul>
    </nav>
    <div class="controls">
        <label class="toggle-switch">
            Dark Mode
            <input type="checkbox" id="dark-mode-toggle">
            <div class="toggle-switch-border">
                <div class="toggle-switch-dot"></div>
            </div>
        </label>
    </div>
</header>