<h2>Recent Work</h2>
    <article>
        <div>
          <h3>Project:: turbo-couscous (WIP)</h3>
          <p>A social app to help visualize your wardrobe. Share what you wear!</p>
          <strong>October 2022</strong>
          <ul>
            <li>blah 1</li>
            <li>blah 2</li>
            <li>blah 3</li>
          </ul>
          <a class="btn"href="https://github.com/jmpress/turbo-couscous">GitHub Repo</a>
        </div>
        <img class="article-img" alt="The author posing in techwear outfit in front of colorful mural" src="../assets/images/reflectWear.jpg" />
    </article>
    <article>
        <div>
          <h3>Project:: supreme-broccoli</h3>
          <p>A platform that allows users to participate in photo caption contests.</p>
          <strong>September 2022</strong>
          <ul>
            <li>Created the back end for a platform where users can submit captions</li>
            <li>Implemented security best practices to authenticate and authorize users</li>
            <li>Created a cache to store frequently requested data</li>
            <li>Created a simple front-end that utilizes the express-handlebars view engine</li>
          </ul>
          <a class="btn"href="https://supreme-broccoli.herokuapp.com">Hosted on Heroku</a>
          <a class="btn"href="https://github.com/jmpress/supreme-broccoli">GitHub Repo</a>
        </div>
        <img class="article-img" alt="Coach McGuirk from Home Movies driving a fancy car" src="../assets/images/thunderbird.jpeg" />
    </article>
    <article>
        <div>
          <h3>Project:: vigilant-palm-tree</h3>
          <p>A platform for tracking problems, issues, bugs, work orders, etc.</p>
          <strong>August 2022</strong>
          <ul>
            <li>blah 1</li>
            <li>blah 2</li>
            <li>blah 3</li>
          </ul>
          <a class="btn"href="https://vigilant-palm-tree.herokuapp.com">Hosted on Heroku</a>
          <a class="btn"href="https://github.com/jmpress/vigilant-palm-tree">GitHub Repo</a>
        </div>
        <img class="article-img" alt="magnifying glass looks at bug" src="../assets/images/Bugtracking-1-2985363084.png" />
    </article>