<h2>Recent Work</h2>
    <article>
        <div>
          <h3>Project:: vassilating-tesseract</h3>
          <p>This portfolio website</p>
          <strong>October 2022 (in development)</strong>
          <ul>
            <li>Created a portfolio page with a small bio and a list of my recent projects.</li>
            <li>Implemented with Ember.js and using ember-data addon to handle data from backend</li>
            <li>Blog articles are served via API from a separate back-end app (see related repo: <a href="https://github.com/jmpress/vtArticleServer">vtArticleServer</a></li>
          </ul>
          <a class="btn" target="blank" href="https://github.com/jmpress/vassilating-tesseract">GitHub Repo</a>
        </div>
        <img class="article-img" alt="The author posing in casual techwear cycling outfit in front of colorful mural" src="../assets/images/reflectWear.jpg" />
    </article>
    <article>
        <div>
          <h3>Project:: supreme-broccoli</h3>
          <p>A platform that allows users to participate in photo caption contests.</p>
          <strong>September 2022</strong>
          <ul>
            <li>Created the back end for a platform where users can submit captions</li>
            <li>Implemented security best practices to authenticate and authorize users</li>
            <li>Created a cache to store frequently requested data</li>
            <li>Created a simple front-end that utilizes the express-handlebars view engine</li>
          </ul>
          <a class="btn" target="blank" href="https://supreme-broccoli.herokuapp.com">Hosted on Heroku</a>
          <a class="btn" target="blank" href="https://github.com/jmpress/supreme-broccoli">GitHub Repo</a>
        </div>
        <img class="article-img" alt="Coach McGuirk from Home Movies driving a fancy car" src="../assets/images/thunderbird.jpeg" />
    </article>
    <article>
        <div>
          <h3>Project:: vigilant-palm-tree</h3>
          <p>A platform for tracking problems, issues, bugs, work orders, etc.</p>
          <strong>August 2022</strong>
          <ul>
            <li>Created a platform for users to track issues that need to be worked on.</li>
            <li>Maintains open/close status, date created/edited, priority, and notes. </li>
            <li>A simple Inbox with sortable headers helps prioritize. Can hide/unhide closed tickets.</li>
          </ul>
          <a class="btn" target="blank" href="https://vigilant-palm-tree.herokuapp.com">Hosted on Heroku</a>
          <a class="btn" target="blank" href="https://github.com/jmpress/vigilant-palm-tree">GitHub Repo</a>
        </div>
        <img class="article-img" alt="magnifying glass looks at bug" src="../assets/images/Bugtracking-1-2985363084.png" />
    </article>